<html>
	<head>
		<title>UBNav</title>
		 <!--Bootstrap CDNs-->
		 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"c/>
		 <!--The following three lines allow access to two google webfonts-->
		 <link rel="preconnect" href="https://fonts.googleapis.com">
		 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		 <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
	</head>
		<body>
		<!--Bootstrap Nav-->
		<h1>Welcome to UBNav</h1>
		<div class="card map mx-auto">
			<div class="card-header">
				University at Buffalo, North Campus
			</div>
			<div class="card-body">
				  <object id='map' data='static/campusNavMap.svg' width='100%' height='100%'></object>
				<!--<img src="{{url_for('static', filename='campusNavMap.svg')}}" align="middle" />-->

			</div>
		</div>

		<div class="card main-panel mx-auto">
		<div class="card-body">
		<p>
			Select your starting location and desired destination with the below drop-down menus, then select the 'Begin Navigation' button.
			<br><br>
			<label for="start">Starting Location:</label>
			<select name="start" id="start" data="">
			        <option value="">--Please choose an option--</option>
				<option value="cook">Cook</option>
				<option value="davis">Davis</option>
				<option value="jacobs">Jacobs</option>
				<option value="su">Student Union</option>
			</Select>
			<br>
			<label for="end">Destination:</label>
			<select name="end" id="end" data="">
			        <option value="">--Please choose an option--</option>
				<option value="cook">Cook</option>
				<option value="davis">Davis</option>
				<option value="jacobs">Jacobs</option>
				<option value="su">Student Union</option>
			</select>
			<br>
			<button type="button" class="btn btn-success">Begin Navigation </button>
		</p>
		</div>
		</div>

		<!-- Bootstrap: Optional JavaScript -->
		<!-- Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
		<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="functions.js"></script>
		<script src="connect_websocket.js"></script>
		
		<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/index.js')}}"></script>
	</body>
</html>
