<html>
	<head>
		<title>CampusNav</title>
		<link rel="icon" type="image/x-icon" href="static/favicon.ico">
		 <!--Bootstrap CDNs-->
		 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"c/>
		 <!--The following three lines allow access to two google webfonts-->
		 <link rel="preconnect" href="https://fonts.googleapis.com">
		 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		 <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
	</head>
		<body>
		<!--Bootstrap Nav-->
		<div class="header">
			
		<h1><div id="gps" class="spinner-grow text-primary" role="status">
		</div>	CampusNav</h1>
		
	</div>
		<div class="card map mx-auto" style="width:50%">
			<div class="card-header"> 
				University at Buffalo, North Campus
			</div>
			<div class="card-body">
				  <object id='map' data='static/campusNavMap.svg' width='100%' height='100%'></object>
				<!--<img src="{{url_for('static', filename='campusNavMap.svg')}}" align="middle" />-->

			</div>


			<!--<div class="modal fade" id="myModal" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <p> hi there </p>
			    </div>
			  </div>
			</div>-->

			<div class="modal-body" id="dialg" title="Text Instructions">
			  <p>Use this help button to get text instructions once you have generated a path!</p>
			</div>
		</div>

		

		<div class="alert alert-primary mx-auto" role="alert" id="dirAlert">
			  <p>
			  <label id="directions">
			  </label>
			  <button type="button" id="speak" class="btn btn-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
				<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
				<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
				<path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
			</svg>		<span class="sr-only">Play Audio</span> 
		</button>
		  </p>
		  </div>

		<div class="card main-panel mx-auto">
		  <div class="card-body">
		    <div>  
		      <button id="opener"type="button" class="btn btn-info float-right pull-right">Help</button>
		      
		    </div>
		    <br><br>
		    <p>
			<strong>Select your starting location and desired destination with the below drop-down menus, then select the 'Begin Navigation' button.</strong>
			<br><br>
			<p>Please select the type of path:</p>
			<input type="radio" id="d" name="type" value="direct">
			<label for="direct">Direct (non accessible)</label><br>
			<!--<input type="radio" id="accessible-e" name="type" value="a-e">
			<label for="accessible-e">Accessible by Elevator</label><br>-->
			<input type="radio" id="accessible-o" name="type" value="accessible-o">
			<label for="accessible-o">Accessible Outside</label>
			<br> 
			<label for="start">Starting Location:</label>
			<select name="start" id="start" data="">
			        <option value="">--Please choose an option--</option>
				<option value="cook">Cooke</option>
				<option value="davis">Davis</option>
				<option value="jacobs">Jacobs</option>
				<option value="su">Student Union</option>
			</Select>
			<br>
			<label for="end">Destination:</label>
			<select name="end" id="end" data="">
			        <option value="">--Please choose an option--</option>
				<option value="cook">Cooke</option>
				<option value="davis">Davis</option>
				<option value="jacobs">Jacobs</option>
				<option value="su">Student Union</option>
			</select>
			<br>
			<button type="button" class="btn btn-success nav-btn">Begin Navigation </button>
			<button type="button" id="start-travel" class="btn btn-primary start-travel">Start Travel</button>
		</p>
		</div>
		</div>


		<!-- Bootstrap: Optional JavaScript -->
		<!-- Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
		<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="functions.js"></script>
		<script src="connect_websocket.js"></script>
		
		<!--<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>-->

		
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>-->

		<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"> 
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
		<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 

		
		<script src="{{url_for('static', filename='js/index.js')}}"></script>
	</body>
</html>